.footer{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform:translateX(-50%);
    background: white;
    padding: 20px;
    &  >p{
        font-family: 'Roboto';
        font-style: italic;
    }
}
@media only screen and (max-width: 650px) {
    .footer{
        bottom: 1%;
        left: 50%;
        z-index: 10;
        padding: 5px;
        &  >p{
            font-size: 12px;
        }
    }
}