
.cardMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // min-width: 300px;
    // min-height: 300px;
    width: 500px;
    height: 600px;

    & >.flip-card {
        background-color: transparent;
        width: 100%;
        height: 100%;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }
}
/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
border-radius: 15px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-flipped  {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 15px;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
border: 1px solid rgba(211, 211, 211, 0.3);
background-color:white;
color: black;
}

/* Style the back side */
.flip-card-back {
border: 1px solid rgba(211, 211, 211, 0.3);
background-color:whitesmoke;
color: white;
transform: rotateY(180deg);
}


.MtJBoton{
    &.MuiButtonBase-root.MuiButton-root.MuiButton-text{
        margin: 10px;
        background: lightgray;
        width: 90%;
    }
}

.inputText{
    width: 90%;
    
    &>div{
        &.MuiInput-underline::after{
            border-bottom:  2px solid black;
        }
    }
    &>label{
        &.Mui-focused{
        font-weight: 400;
        color: black;
        }
        font-weight: bold;
        color: black;
    }
}
.loading{
height: 100%;
width: 100%;
background-color: white;
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.graph_holder{
  
       &>canvas{
           width: 250px;
       }
  
}

.card-display-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.card-display-column{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlesInfo{
    font-family: 'Roboto';
    font-size: 20px;
    margin: 5px;
}
.subTitleInfo{
    font-family: 'Roboto';
    font-weight: bold;
    color: gray;
    font-size: 16px;
    margin: 5px;
    margin-top: 15px;
}

.txtInfo{
    font-family: 'Roboto';
    font-style: italic;
    font-size: 14px;
    margin: 10px;
}
.ctxt{
    font-family: 'Roboto';
    color: black;
    font-size: 16px;
    margin: 10px;
}
.ctxtsmall{
    font-family: 'Roboto';
    font-style: italic;
    color: black;
    font-size: 14px;
    margin: 10px;
}