
.cardMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    min-height: 300px;

    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

    background-color: beige;
}